{% extends "index.html" %}

{% block title %} {{ config.title }} | {{ section.title }} {% endblock title %}


{% block content %}

    <h1>{{ section.title }}</h1>

{% if section.title == "Services" %}    

    {% set types = get_taxonomy(kind="types") %}

    <ul id="types">
      {% for type in types.items %}    
          <script type="text/javascript">

          function check{{ type.name | slugify | replace(from="-", to="") }}() {
            var checkbox = document.getElementById('{{ type.name | slugify | replace(from="-", to="")}}');
            let els = document.querySelectorAll('.{{ type.name | slugify | replace(from="-", to="")}}'); 
            for (var i=0; i<els.length; i++) {
            if (checkbox.checked != true) {
              els[i].classList.add('rotate');
            } else {
              els[i].classList.remove('rotate');
            }
          }}
          </script>

        <li> <input type="checkbox" onclick="check{{ type.name | slugify | replace(from="-", to="") }}()" id="{{ type.name | slugify | replace(from="-", to="")}}" checked/> 
          {{type.name}}
        </li>

      {% endfor %}
    </ul>

   
    {% for page in section.pages %}
     
    {% endfor %}


    {% else %}
   
        <!-- START ARTICLE FEED !-->
        {% if paginator %}
          {{ macro::list_articles(pages=paginator.pages) }}
          {% else %}
          {{ macro::list_articles(pages=section.pages) }}
        {% endif %}
        <!-- END ARTICLE FEED -->
        <!-- START PAGINATION -->
        {% if paginator %}
          {{ macro::paginate(paginator=paginator) }}
        {% endif %}
        <!-- END PAGINATION -->
    
      {% endif %}
          
{% endblock content %}